<div class="page-content">
    <div>
        <button matButton="tonal" [disabled]="!canGoBack()" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Indietro
        </button>
    </div>

    @for (item of contentDir(); track $index) {
    <button matButton class="btn-item" [class.directory]="item.kind === 'directory'" (click)="openItem(item)">
        <div class="folder-item">
            @if (item.kind === 'file' && getThumbnail(item.name)) {
            <img class="file-thumb" [src]="getThumbnail(item.name)" [alt]="item.name" />
            } @else {
            <mat-icon>{{ item.kind === 'directory' ? 'folder' : 'description' }}</mat-icon>
            }
            <span>{{ item.name }}</span>
        </div>
    </button>
    }
</div>