<div class="page-content">

    <div>
        <button matButton="tonal" [disabled]="!canGoBack()" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Indietro
        </button>
    </div>

    @for (item of contentDir(); track $index) {
    <button matButton class="btn-item" [class.directory]="item.kind === 'directory'" (click)="openItem(item)">
        <div class="btn-row">
            <div class="folder-item">
                <mat-icon>{{ item.kind === 'directory' ? 'folder' : 'description' }}</mat-icon>
                <span>{{item.name}}</span>
            </div>
            <button matIconButton><mat-icon>edit</mat-icon></button>
        </div>
    </button>
    }
</div>