<div class="page-content">

    <button matButton class="btn-item">
        <div class="folder-item">

            <div class="folder-icon">
                <mat-icon>folder</mat-icon>
            </div>

            <div class="folder-text">
                <span class="folder-name">Download</span>
                <span class="folder-meta">23 elementi · 148 MB</span>
            </div>
        </div>
    </button>

    <div class="btn-fab-container">
        <button mat-fab>
            <mat-icon>create_new_folder</mat-icon>
        </button>
    </div>
</div>